/* --- mobile design --- */
/* general styling */
:root {
    --primary: #0e58e2; 
    --white: #FFFFFF;
    --grey: #D9D9D9;
    --border: #333333;
    --paper-bg: #eeeeee;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--paper-bg);
    color: var(--border);
}

p {
    line-height: 1.5;
}

.wrapper {
    width: 480px;
    margin: auto;
}

.card, .drink-card, .vending-slot, .display-screen, .inventory-item {
    border-radius: 0;
    background: var(--white);
}

/* navigation */
nav {
    background: var(--white);
    border-bottom: 2px solid var(--border);
}

.site-title {
    color: var(--border);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/* machine display screen */
.display-screen {
    background: var(--white);
    padding: 1rem;
    text-align: center;
}

#balance-display {
    font-family: 'Courier New', monospace;
    font-size: 2.5rem;
    color: var(--primary);
}

/* money section */
.btn-primary {
    background: var(--primary);
}

/* drink selection section */
.drink-card {
    padding: 1rem;
    margin-bottom: 1rem;
}

.drink-btn {
    background: var(--white);
    border: 1px solid var(--border);
    color: var(--border);
    font-weight: bold;
    text-transform: uppercase;
}

.drink-btn:hover {
    background: var(--border);
}

/* vending area */
.vending-slot {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--paper-bg);
}

/* inventory section */
.inventory-section h2 {
    border-bottom: 2px solid var(--border);
    padding-bottom: 1rem;
    margin-top: 3rem;
}

.inventory-item {
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drink-graphic {
    width: 30px;
    height: 50px;
}

/* footer
footer {
    background: var(--border);
    border-top: 5px solid var(--primary);
} */

/* --- tablet design --- */
@media screen and (min-width: 760px) {
    .wrapper {
        width: 720px;
    }
}

/* --- desktop design --- */
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 1120px;
    }
}